<!-- cols/list -->
<div class="row-fluid">
		<% cols.each do |col| %>
			<% if col.ord==0 %>
			<!-- staging -->
			<div class="staging">
				<div class="col" data-col="<%= col.id %>" data-ord="<%= col.ord %>">
					<div class="col-ctrl">
						<div class="col-left"></div>
						<div class="col-right">
							<div class="col-add pointer special-right-border"><i class="icon-plus"></i></div>
						</div>
					</div>
					<div class="col-body">
						<div class="col-title">Staging</div>
						<%= render :partial => "cards/list", :locals => {:cards => Card.find_all_by_col_id(col.id)} %>
					</div>
				</div>
			</div>
			<div class="viewport">
				<div class="scroller">
					<div class="cols">
			<% else %>
					<div class="col" data-col="<%= col.id %>" data-ord="<%= col.ord %>">
						<div class="col-ctrl">
							<div class="col-left">
								<div class="col-move-left pointer"><i class="icon-chevron-left righttip" data-title="move column left"></i></div>
								<div class="col-del pointer"><i class="icon-trash righttip" data-title="delete column"></i></div>
							</div>
							<div class="col-right">
								<div class="col-add pointer"><i class="icon-plus righttip" data-title="add column"></i></div>
						        <div class="col-move-right pointer"><i class="icon-chevron-right righttip" data-title="move column right"></i></div>
					    	</div>
						</div>
						<div class="col-body">
							<div class="col-title bottomtip" data-title="click title to edit"><%= text_area_tag "", col.title %></div>
							<%= render :partial => "cards/list", :locals => {:cards => Card.find_all_by_col_id(col.id)} %>
						</div>
					</div>
			<% end %>
		<% end %>
		<% unless cols.blank? %>
		<!-- viewport and scroller, only if there are cols -->
			</div>
		</div>
		</div>
		<% else %>
			<%= render partial: "cols/first" %>
		<% end %>
</div>