<h1>Edit Account</h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <br />
  <div class="muted"><small>leave blank to keep your password the same</small></div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>

  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="button"><%= f.submit "Update", {class: ["btn","btn-primary"]} %></div>
<% end %>